body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #0366d6;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
}

button:hover {
  background-color: #024ea2;
}

input {
  padding: 8px 12px;
  border-radius: 5px;
  border-style: solid;
}

ul {
  list-style: none;
  text-align: left;
  display: flex;
}

ul li {
  width: 25%;
  height: 80px;
  border: 1px solid;
  margin: 10px;
  padding-top: 50px;
  background-color: gray;
  text-align: center;
}
